<!-- header -->
	<header id="header" class="clearfix">
		<!-- navbar -->
		<nav class="navbar navbar-default navbar-expand-lg">
			<div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tr-mainmenu" aria-controls="tr-mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>

                <a class="navbar-brand" href="/"><img class="img-fluid" src="images/logo.png" alt="Logo"></a>
				
				<div class="collapse navbar-collapse" id="tr-mainmenu">
					<ul class="nav navbar-nav">
						<li class="active dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="active"><a href="/">Home Default </a></li>
								<li><a href="index-car">Home Car-1<span class="badge">New</span></a></li>
								<li><a href="directory">Home Directory<span class="badge">Latest</span></a></li>
							</ul>
						</li>
						<li><a href="categories">Category</a></li>
						<li><a href="details">Ad Details</a></li>
						<li><a href="faq">Help/Support</a></li> 
						<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="about-us">ABout Us</a></li>
								<li><a href="contact-us">Contact Us</a></li>
								<li><a href="ad-post">Ad post</a></li>
								<li><a href="ad-post-details">Ad post Details</a></li>
								<li><a href="categories-main">Category Ads</a></li>
								<li><a href="details">Ad Details</a></li>
								<li><a href="my-ads">My Ads</a></li>
								<li><a href="my-profile">My Profile</a></li>
								<li><a href="favourite-ads">Favourite Ads</a></li>
								<li><a href="archived-ads">Archived Ads</a></li>
								<li><a href="pending-ads">Pending Ads</a></li>
								<li><a href="delete-account">Close Account</a></li>
								<li><a href="published">Ad Publised</a></li>
								<li><a href="signup">Sign Up</a></li>
								<li><a href="signin">Sign In</a></li>
								<li><a href="faq">FAQ</a></li>	
								<li><a href="coming-soon">Coming Soon <span class="badge">New</span></a></li>
								<li><a href="coming-soon">Pricing<span class="badge">New</span></a></li>
								<li><a href="500-page">500 Opsss<span class="badge">New</span></a></li>
								<li><a href="404-page">404 Error<span class="badge">New</span></a></li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="nav-right">
					<div class="dropdown language-dropdown">
						<i class="fa fa-globe"></i> 						
						<a data-toggle="dropdown" href="#"><span class="change-text">United Kingdom</span> <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu language-change">
							<li><a href="#">United Kingdom</a></li>
							<li><a href="#">United States</a></li>
							<li><a href="#">China</a></li>
							<li><a href="#">Russia</a></li>
						</ul>								
					</div><!-- language-dropdown -->

					<!-- sign-in -->					
					<ul class="sign-in">
						<li><i class="fa fa-user"></i></li>
						<li><a href="signin"> Sign In </a></li>
						<li><a href="signup">Register</a></li>
					</ul><!-- sign-in -->					

					<a href="ad-post" class="btn">Post Your Ad</a>					
				</div>
				
			</div><!-- container -->
		</nav><!-- navbar -->
	</header><!-- header -->