<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">

    <title>Trade | Page note found</title>

	{{> links}}
  </head>
  <body>
	<!-- header -->
	{{> header }}<!-- header -->

	<section id="main" class="clearfix text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="found-section section">
						<h1>404</h1>
						<h2>Page Not Found</h2>
						<p>We can't seem to find the page you're looking for.</p>
						<a href="/" class="btn btn-primary">Go to Home</a>
					</div>					
				</div>
			</div>
		</div><!-- container -->
	</section><!-- main -->
	
	<!-- footer -->
	{{> footer }}
	<!-- footer -->
	
    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="js/gmaps.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scrollup.min.js"></script>
    <script src="js/price-range.js"></script> 
    <script src="js/jquery.countdown.js"></script>    
    <script src="js/custom.js"></script>
  </body>
</html>