<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">

    <title>Trade | World's Largest Classifieds Portal</title>

	{{> links }}
  </head>
  <body>
	
	{{> header }}

	<section id="main" class="clearfix text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="found-section section">
						<h1>500</h1>
						<h2>Opsss!</h2>
						<p>We Had some technical problems during your last operation.</p>
						<a href="#" class="btn btn-primary">Return To Previous Page</a>
					</div>					
				</div>
			</div>
		</div><!-- container -->
	</section><!-- main -->
	
	{{> footer }}
  </body>
</html>