<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">

    <title>Trade | Publish</title>

   {{> links }}
  </head>
  <body>
	
	{{> header }}

	<!-- main -->
	<section id="main" class="clearfix published-page">
		<div class="container">
			<div class="row text-center">				
				<div class="col-md-6 offset-md-3">
					<div class="congratulations">
						<i class="fa fa-check-square-o"></i>
						<h2>Congratulations!</h2>
						<h4>Your ad will be Published soon.</h4>
					</div>
				</div>
			</div><!-- row -->	
		</div><!-- container -->
	</section><!-- main -->
	
	{{> footer }}
	
    <!-- JS -->
  </body>
</html>